/* Your Styles Here */
body{
    background-color:rgb(107, 186, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
h1 {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    
}
p {
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}